<div class="span10 show" id="<%= show.id %>" style="margin-bottom: 15px; margin-left: 0px;">
  <p><img src="https://image.tmdb.org/t/p/w600/<%= show.poster %>" class="img-polaroid" height="180" width="180" id="art" style="float: left; margin-right: 15px;"></p>
  <h2 style="margin: 0px;"><span id="title"><%= show.name %></span></h2>
      <div class="progress">
        <div class="bar bar-success" style="width: <%= show.state.done %>%;"></div>
        <div class="bar bar-warning progress-striped active" style="width: <%= show.state.getting %>%;"></div>
        <div class="bar bar-info" style="width: <%= show.state.none %>%;"></div>
        <div class="bar bar-danger" style="width: <%= show.state.unavail %>%;"></div>
      </div>
  <p class="lead">
    <div class="btn-group">
      <a class="btn dropdown-toggle dropdown-toggle-<%= show.id %>" data-toggle="dropdown" href="#">
        Seasons (<%= show.num_seasons %>)
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
        <% _.each(show.seasons, function (el, i) { %>
          <li><a href="#" class="season-select" season-id="<%= el %>" show-id="<%= show.id %>">Season <%= el %></a></li>
        <% }) %>
      </ul>
    </div>
      <a class="btn btn-danger show-delete" data-toggle="dropdown" href="#" show-id="<%= show.id %>">
        <i class="icon-remove-sign icon-white"></i>
      </a>
    <style>
      .table th {
        font-weight: normal;
      }
    </style>
    <table id="episode-list" class="table" style="float: right; width: 72%; font-weight: normal">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody id="active-season-episode-list-<%= show.id %>">
      </tbody>
    </table>
  </p>
</div>